<div class="container">
  <div class="about-section">
    <h1 align="center" style="margin-top: 3px;"> <i>About Us</i></h1>
    <p align="justify"><i>
        <b>Discount Inn</b> is recognised the world over for delivering exceptional hospitality,
        an amalgam of world-class refinement inspired by the heritage and nobility of Indian traditions.
        With 3 hotels in various locations, including Maharashtra, Rajasthan, Karnataka
        our footprint extends across renowned landmark properties, best-in-class business hotels, idyllic island and
        hillside resorts.
      </i>


    </p>
  </div>

  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>

      <div class="carousel-caption">
        <h3>Mumbai</h3>
        <p>City of Dreams!!!!</p>
      </div>

      <img src="../../assets/images/Mumbai.jpg" class="carousel">
    </ng-template>
    <ng-template carouselSlide>

      <div class="carousel-caption">
        <h3>Goa</h3>
        <p>Goa is always so much fun!!!!</p>
      </div>

      <img src="../../assets/images/Goa.jpg" class="carousel">
    </ng-template>
    <ng-template carouselSlide>

      <div class="carousel-caption">
        <h3>Delhi</h3>
        <p>Dil walo ki Dilli!!!!</p>
      </div>

      <img src="../../assets/images/Delhi.jpg" class="carousel">
    </ng-template>
  </owl-carousel-o>

</div>