<div class="card text-white bg-secondary mb-3" style="max-width: 20rem; margin-top: 20px; margin-bottom: 20px;">
    <div class="card-header">Featured Amenities</div>
    <div class="card-body">
        <!--<h4 class="card-title">Secondary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>-->

        <ul>
            <li> Equipped kitchen</li>
            <li> Free WiFi</li>
            <li> Cable Tv</li>
            <li> In house washing machine</li>
        </ul>
    </div>
</div>